.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.rounded-box {
  width: 600px;
  height: 350px;
  background-color: #b6a0a0;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.backgroundShap{
  width: 90%;
  height: 90%;
  background-color: #c1c1db;
  border-radius:25% 33% 100% 80% / 51% 20% 100% 50%  ;
  justify-content: start;

}

.custom-header {
  background-color: #2C3E50;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 24px
 }


#myd

iv {
  position: absolute;
  z-index: 9;
  background-color: #e51111;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}